<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="open_hackConnectionString" connectionString="server=localhost;user id=usu_open_web;password=*open2015;database=open_hack"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ServerName" value="http://189.206.160.82/arms_seguridad/" />
    <!--add key="LocalName" value="http://189.206.160.82/arms_sdm/" /-->
    <add key="LocalName" value="http://localhost:6321/" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <httpRuntime maxRequestLength="12288"/>
  </system.web>

</configuration>
